<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GET TO KNOW A YANG SUPPORTER</h1>
    <a href="/videochat">VIDEO CHAT NOW</a>
  </body>
</html>
