<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>You are on unknown page. <a href="/home">Click here to go to home <%= title %></a></p>
  </body>
</html>
