<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  </head>
  <body>
    <h1>Political Roulette</h1>
    <p>Talk to the other side. Choose your party below to start.</p>

      <input class="username" type="text" name="username" placeholder="name"><br>
      <!-- <input class="useremail" type="text" name="email" placeholder="email"><br> -->
      <input class="partyCheckbox" type="radio" name="party" value="supporter" checked> I'm A Yang Supporter, bring me a potential voter!<br>
      <input class="partyCheckbox" type="radio" name="party" value="curious"> I'm curious about Yang, bring me a Yang supporter!<br>

      <button id="getPartyBtn" onclick="startVideoChat()">VIDEO CHAT NOW</button>

      <div class="videoChatBox" style="display: none;">
        <div class="container">
          <div class="row h-100 w-100">
            <div class="col-12 col-sm-6 d-flex justify-content-center">
              <div class="embed-responsive embed-responsive-16by9">
                <video class="emned-responsive-item" muted></video>
              </div>
            </div>
            <div id="peerDiv" class="col-12 col-sm-6 d-flex justify-content-center">
              <div class="embed-responsive embed-responsive-16by9">
              </div>
            </div>
          </div>
        </div>
      </div>

      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/bundle/main.js"></script>
      <script>
        function startVideoChat() {
          var userData = {
            username: '',
            useremail: '',
            party: ''
          }
          const checkedElement = document.querySelector('.partyCheckbox:checked')
          const username = document.querySelector('.username').value
          // const email = document.querySelector('.useremail').value
          var checkedValue = ''
          if (!checkedElement.value || !username /* || !email */) {
            var text = ''
            if (!checkedElement.value) text += 'you have to select a party to proceed'
            if (!checkedElement && !username) text += ', '
            if (!username) text += 'please enter your name'
            // if (!username && !email) text += ', '
            // if (!email) text += 'please enter your email'
            alert(text)
            return
          }
          checkedValue = checkedElement.value
          userData.username = username
          // userData.useremail = email
          userData.party = checkedValue
          document.querySelector('#getPartyBtn').disabled = true
          document.querySelector('.videoChatBox').style.display = 'block'
          console.log('user has entered details, regestering stream', userData)
          getUserMediaStream(userData)
          /*
          // pure JS implementation:
          var checkedValue = null; 
          var inputElements = document.getElementsByClassName('messageCheckbox');
          for (var i=0; inputElements[i]; ++i) {
            if (inputElements[i].checked){
              checkedValue = inputElements[i].value;
              break;
            }
          } 
           */
        }
      </script>
    
  </body>
</html>
